In [1]:
import numpy as np
import pickle
# from Utils.TimeLogger import log
from scipy.sparse import csr_matrix
import time
import scipy.sparse as sp
def ok(year):
	return True
	if year >= 2016 and year <= 2019:
		return True
minn = 1647180684
maxx = 0
def transTime(date):
	timeArr = time.strptime(date, '%Y-%m-%dT%H:%M:%SZ')
	year = time.mktime(timeArr)
	global minn
	global maxx
	minn = min(minn, year)
	maxx = max(maxx, year)
	if ok(year):
		return year
	return None

In [2]:
def mapping(infile):
    
	usrId = dict()
	itmId = dict()
	usrid, itmid = [0, 0]
	interaction = list()
	with open(infile, 'r', encoding='utf-8') as fs:
		for line in fs:
			arr = line.strip().split()
			# print(arr)
			row = int(arr[0])
			col = int(arr[-1])
			timeStamp = transTime(arr[1])
			if timeStamp is None:
				continue
			if row not in usrId:
				usrId[row] = usrid
				interaction.append(dict())
				usrid += 1
			if col not in itmId:
				itmId[col] = itmid
				itmid += 1
			usr = usrId[row]
			itm = itmId[col]
			if(itm not in interaction[usr]):
				interaction[usr][itm]=[]
			interaction[usr][itm].extend([timeStamp])
			# print(interaction)
	print(minn, maxx)
	return interaction, usrid, itmid

In [4]:
print(minn,maxx)

1647180684 0

In [3]:
def checkFunc1(cnt):
	return cnt >= 10
def checkFunc2(cnt):
	return cnt >= 5
def checkFunc3(cnt):
	return cnt >= 5

def filter(interaction, usrnum, itmnum, ucheckFunc, icheckFunc, filterItem=True):
    # get keep set
    usrKeep = set()
    itmKeep = set()
    itmCnt = [0] * itmnum
    for usr in range(usrnum):
        data = interaction[usr]
        usrCnt = 0
        for col in data:
            itmCnt[col] += 1
            usrCnt += 1
        if ucheckFunc(usrCnt):
            usrKeep.add(usr)
    for itm in range(itmnum):
        if not filterItem or icheckFunc(itmCnt[itm]):
            itmKeep.add(itm)

    # filter data
    retint = list()
    usrid = 0
    itmid = 0
    itmId = dict()
    user_id = list()
    item_id = list()
    time_int = list()
    for row in range(usrnum):
        if row not in usrKeep:
            continue
        usr = usrid
        usrid += 1
        retint.append(dict())
        data = interaction[row]
        for col in data:
            if col not in itmKeep:
                continue
            if col not in itmId:
                itmId[col] = itmid
                itmid += 1
            itm = itmId[col]
            retint[usr][itm] = data[col]
            for time_div in data[col]:
                user_id.append(usr+1)
                item_id.append(itm+1)
                time_int.append(int(time_div))
    return retint, usrid, itmid, user_id, item_id, time_int

In [4]:
def negSamp(temLabel, sampSize, nodeNum):
    negset = [None] * sampSize
    cur = 0
    while cur < sampSize:
        rdmItm = np.random.choice(nodeNum)
        if rdmItm not in temLabel:
            negset[cur] = rdmItm+1
            cur += 1
    return negset

def split(interaction, usrnum, itmnum):
    np.random.seed(100)
    pickNum = 10000
    # random pick
    usrPerm = np.random.permutation(usrnum)
    pickUsr = usrPerm[:pickNum]

    tstInt = [None] * usrnum
    trainPos = [None]* usrnum
    exception = 0
    user_id=list()
    item_id=list()
    time_id=list()
    neg_items=list()
    for usr in pickUsr:
        temp = list()
        data = interaction[usr]
        for itm in data:
            if (itm is not None and data[itm] is not None):
                temp.append((itm, data[itm]))
        if len(temp) == 0:
            print(usr)
            exception += 1
            continue
        # print('1',temp)
        temp.sort(key=lambda x: x[1])
        tstInt[usr] = temp[-1][0]
        # user_id.append(usr+1)
        # item_id.append(tstInt[usr]+1)
        # time_id.append(int(interaction[usr][tstInt[usr]][-1]))
        # neg_items.append(negSamp(interaction[usr],99,itmnum))
        interaction[usr][tstInt[usr]] = None
    user_behavior_sequence=list()
    for usr in range(usrnum):
        temp = list()
        data = interaction[usr]
        for itm in data:
            if(itm is not None and data[itm] is not None):
                temp.append((itm, data[itm]))
        if len(temp) == 0:
            print('2',usr)
            exception += 1
            continue
        #print(temp)
        temp.sort(key=lambda x: x[1])
        user_behavior_sequence.append(np.array(temp)[:-1,0])
        trainPos[usr] = temp[-1][0]
        interaction[usr][temp[-1][0]] = None
    print(user_id,time_id,time_id,neg_items)
    # train=DataFrame({'user_id':user_id, 'item_id':item_id, 'time':time_id, 'neg_items':neg_items})
    # train.to_csv('test_yelp_4.csv',index=False,sep='\t')
    # print(train)
    print('Exception:', exception, np.sum(np.array(tstInt)!=None))
    return interaction, tstInt, trainPos, user_behavior_sequence

In [5]:
from pandas.core.frame import DataFrame
prefix = 'D:/edgedownload/'
print('Start')
minn = 1647180684
maxx = 0
interaction, usrnum, itmnum = mapping(prefix + 'Gowalla_totalCheckins.txt')
print('Id Mapped, usr %d, itm %d' % (usrnum, itmnum))

Start
1233695858.0 1287782526.0
Id Mapped, usr 107092, itm 1280969

In [6]:
checkFuncs = [checkFunc1, checkFunc2, checkFunc3]
for i in range(3):
    filterItem = True if i < 1 else False
    interaction, usrnum, itmnum, user_id, item_id, time_int = filter(interaction, usrnum, itmnum, checkFuncs[i], checkFuncs[i], filterItem)
    print('Filter', i, 'times:', usrnum, itmnum)
    '''
    if(i==2):
        train=DataFrame({'user_id':user_id, 'item_id':item_id, 'time':time_int})
        train.to_csv('train_gowalla.csv',index=False,sep='\t')
        print(train)
    '''
print('Sparse Samples Filtered, usr %d, itm %d' % (usrnum, itmnum))

Filter 0 times: 68709 57445
Filter 1 times: 50821 57440
Filter 2 times: 50821 57440
Sparse Samples Filtered, usr 50821, itm 57440

In [17]:
ret=count_frequency(interaction,usrnum,itmnum)

[  66 1864 1562 ...    5   20   26]

In [15]:
def count_frequency(interaction,usernum,itmnum):
    count_item=np.zeros([itmnum],dtype=int)
    for i in range(itmnum):
        for j in range(usernum):
            if(i in interaction[j]):
                count_item[i]+=len(interaction[j][i])
    print(count_item)
    return np.argsort(count_item)

In [18]:
neg_frequency=ret

[29224 57406 57337 ...    61    62  8944]

In [42]:
with open(prefix+'gowalla_sort', 'wb') as fs:
	pickle.dump(neg_frequency, fs)

In [35]:
def negSamp_fre(temLabel, sampSize, nodeNum):
    negset = [None] * sampSize
    cur = 0
    i = 0
    while cur < sampSize:
        rdmItm = neg_frequency[-i]# np.random.choice(nodeNum)
        if rdmItm not in temLabel:
            negset[cur] = rdmItm+1
            cur += 1
        i += 1
    return negset

def split(interaction, usrnum, itmnum):
    np.random.seed(100)
    pickNum = 10000
    # random pick
    usrPerm = np.random.permutation(usrnum)
    pickUsr = usrPerm[:pickNum]

    tstInt = [None] * usrnum
    exception = 0
    user_id=list()
    item_id=list()
    time_id=list()
    neg_items=list()
    for usr in pickUsr:
        temp = list()
        data = interaction[usr]
        for itm in data:
            temp.append((itm, data[itm]))
        if len(temp) == 0:
            exception += 1
            continue
        temp.sort(key=lambda x: x[1])
        tstInt[usr] = temp[-1][0]
        user_id.append(usr+1)
        item_id.append(tstInt[usr]+1)
        time_id.append(int(interaction[usr][tstInt[usr]][-1]))
        neg_items.append(negSamp_fre(interaction[usr],99,itmnum))
        interaction[usr][tstInt[usr]] = None
    print(user_id,time_id,time_id,neg_items)
    train=DataFrame({'user_id':user_id, 'item_id':item_id, 'time':time_id, 'neg_items':neg_items})
    train.to_csv('test_gowalla.csv',index=False,sep='\t')
    print(train)
    print('Exception:', exception, np.sum(np.array(tstInt)!=None))
    return interaction, tstInt

In [ ]:
#def split_by_frequency():

In [7]:
def trans_sub(interaction, usrnum, itmnum, gragh_num):
	global minn
	global maxx
	interval = (maxx-minn)/gragh_num
	rcd = [[list(), list(), list()]]
	for i in range(gragh_num-1):
		rcd.append([list(), list(), list()])
	timeMat = sp.dok_matrix((usrnum, itmnum), dtype=np.int)
	for usr in range(usrnum):
		if interaction[usr] == None:
			continue
		data = interaction[usr]
		for col in data:
			if data[col] != None:
				for one_data in data[col]:
					gragh_no=int(((one_data-minn)/interval)-1)
					# print(gragh_no,one_data)
					rcd[gragh_no][0].append(usr)
					rcd[gragh_no][1].append(usrnum+col)
					rcd[gragh_no][2].append(1.0)
					rcd[gragh_no][0].append(usrnum+col)
					rcd[gragh_no][1].append(usr)
					rcd[gragh_no][2].append(1.0)
					timeMat[usr,col]=gragh_no
	intMat=list()
	for i in range(gragh_num):
		intMat.append(csr_matrix((rcd[i][2], (rcd[i][0], rcd[i][1])), shape=(usrnum+itmnum, usrnum+itmnum)))
		# intMat.append(normalized_adj_single(csr_matrix((rcd[i][2], (rcd[i][0], rcd[i][1])), shape=(usrnum+itmnum, usrnum+itmnum))))
		print(intMat[i])
	return intMat, timeMat.tocsr()

In [8]:
print(interaction, usrnum, itmnum)
trnInt, tstInt, trainPos, user_behavior_sequence = split(interaction, usrnum, itmnum)
print('Datasets Splited')

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

C:\Users\LIU-YUXI\AppData\Local\Temp/ipykernel_28108/2224593916.py:56: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  user_behavior_sequence.append(np.array(temp)[:-1,0])

[] [] [] []
Exception: 0 10000
Datasets Splited

In [18]:
# print(trainPos)
with open(prefix+'trnPosGowalla', 'wb') as fs:
	pickle.dump(trainPos, fs)

In [11]:
print(user_behavior_sequence[0])

[116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 100 99 98
 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74
 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50
 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1]

In [12]:
tstInt

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 595,
 626,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 7,
 1756,
 None,
 None,
 1,
 None,
 None,
 None,
 2193,
 None,
 None,
 None,
 None,
 2427,
 None,
 None,
 None,
 2475,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 3138,
 None,
 None,
 None,
 6,
 3269,
 3279,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 4054,
 None,
 None,
 3563,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 177,
 61,
 None,
 None,
 None,
 None,
 None,
 None,
 5271,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 6022,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 6502,
 None,
 None,
 None,
 5239,
 None,
 6,
 641,
 None,
 7548,
 None,
 None,
 None,
 None,
 93,
 6476,
 None,
 7883,
 None,
 None,
 None,
 None,
 None,
 None,
 3195,
 8301,
 None,
 None,
 None,
 8434,
 8495,
 8497,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 3148,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 4476,
 10263,
 None,
 None,
 10535,
 None,
 None,
 None,
 None,
 1620,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 11269,
 None,
 None,
 11464,
 None,
 None,
 None,
 None,
 None,
 None,
 2280,
 None,
 None,
 None,
 11991,
 None,
 None,
 None,
 3988,
 None,
 None,
 None,
 None,
 None,
 None,
 12542,
 None,
 61,
 None,
 12607,
 12616,
 None,
 None,
 None,
 None,
 12662,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 5131,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 13368,
 None,
 None,
 None,
 13402,
 13405,
 None,
 None,
 None,
 None,
 None,
 515,
 13560,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 12480,
 None,
 1720,
 None,
 None,
 None,
 None,
 14059,
 None,
 478,
 None,
 None,
 None,
 None,
 1135,
 None,
 None,
 None,
 None,
 None,
 1,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 93,
 None,
 None,
 None,
 8596,
 15146,
 None,
 None,
 None,
 6271,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 15841,
 None,
 None,
 4,
 2574,
 None,
 None,
 None,
 None,
 None,
 14221,
 3841,
 None,
 None,
 None,
 11151,
 None,
 None,
 None,
 None,
 None,
 13767,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 570,
 None,
 None,
 None,
 None,
 None,
 None,
 12346,
 None,
 None,
 None,
 None,
 45,
 17471,
 None,
 8197,
 297,
 9595,
 None,
 None,
 None,
 None,
 None,
 14618,
 None,
 None,
 67,
 None,
 None,
 None,
 None,
 8231,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 18348,
 None,
 18356,
 None,
 None,
 6780,
 None,
 13177,
 None,
 None,
 None,
 None,
 None,
 None,
 93,
 None,
 None,
 None,
 18990,
 None,
 None,
 None,
 567,
 6735,
 None,
 None,
 None,
 2741,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 62,
 None,
 8591,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 2216,
 None,
 None,
 None,
 20179,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 16152,
 None,
 None,
 7348,
 3198,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 14022,
 None,
 11199,
 None,
 None,
 13630,
 None,
 None,
 None,
 None,
 None,
 None,
 1652,
 None,
 None,
 11335,
 7644,
 None,
 None,
 None,
 None,
 None,
 None,
 17780,
 9516,
 5276,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 21454,
 None,
 None,
 None,
 523,
 210,
 None,
 None,
 None,
 21610,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 21790,
 None,
 None,
 21853,
 None,
 None,
 61,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 6084,
 None,
 None,
 None,
 22566,
 None,
 22597,
 None,
 None,
 None,
 22696,
 None,
 22733,
 8552,
 None,
 None,
 None,
 None,
 22808,
 239,
 22819,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 14159,
 None,
 None,
 None,
 23274,
 None,
 None,
 None,
 None,
 None,
 None,
 22602,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 14088,
 None,
 23564,
 14726,
 23707,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 22788,
 None,
 None,
 None,
 24003,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 23713,
 None,
 None,
 None,
 None,
 4271,
 None,
 None,
 17536,
 None,
 None,
 None,
 22590,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 13952,
 None,
 24628,
 2838,
 2646,
 None,
 None,
 None,
 None,
 None,
 None,
 331,
 None,
 None,
 None,
 None,
 None,
 None,
 24469,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 25176,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 25321,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 8062,
 None,
 25567,
 None,
 None,
 None,
 None,
 None,
 25731,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 942,
 None,
 None,
 None,
 None,
 None,
 20455,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 24112,
 None,
 None,
 None,
 None,
 None,
 None,
 23332,
 None,
 None,
 None,
 26535,
 None,
 None,
 None,
 None,
 26564,
 None,
 None,
 None,
 None,
 None,
 None,
 26688,
 None,
 26709,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 26597,
 None,
 None,
 None,
 None,
 None,
 None,
 1749,
 None,
 None,
 None,
 22306,
 None,
 12365,
 None,
 None,
 27142,
 None,
 None,
 None,
 None,
 27183,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 19226,
 None,
 None,
 26029,
 26030,
 None,
 None,
 None,
 None,
 8590,
 None,
 None,
 27308,
 27327,
 None,
 27381,
 27387,
 None,
 None,
 None,
 27454,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 3310,
 None,
 None,
 None,
 None,
 None,
 27591,
 27593,
 None,
 None,
 9076,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 28016,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 21812,
 10228,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 28323,
 None,
 28327,
 None,
 None,
 None,
 28445,
 28451,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 25730,
 None,
 None,
 None,
 17072,
 None,
 None,
 61,
 None,
 None,
 None,
 None,
 62,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 17244,
 21980,
 None,
 7736,
 None,
 None,
 29133,
 None,
 None,
 29187,
 None,
 None,
 881,
 None,
 None,
 None,
 None,
 None,
 14669,
 None,
 24533,
 19345,
 None,
 2282,
 24278,
 25501,
 29282,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 29791,
 None,
 None,
 None,
 29876,
 29881,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 7152,
 17434,
 None,
 None,
 30154,
 29089,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 30336,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 26772,
 None,
 970,
 None,
 None,
 None,
 None,
 None,
 2743,
 None,
 23053,
 None,
 None,
 29511,
 None,
 None,
 ...]

In [13]:
with open(prefix+'tst_int_gowalla_reversed2', 'wb') as fs:
	pickle.dump(tstInt, fs)

In [14]:
def trans(interaction, usrnum, itmnum):
	r, c, d = [list(), list(), list()]
	for usr in range(usrnum):
		if interaction[usr] == None:
			continue
		data = interaction[usr]
		for col in data:
			if data[col] != None:
				for one_data in data[col]:
					r.append(usr)
					c.append(col)
					d.append(1.0)
	intMat = csr_matrix((d, (r, c)), shape=(usrnum, itmnum))
	return intMat

In [15]:
trnMat = [trans(trnInt, usrnum, itmnum)]
subMat,timeMat=trans_sub(trnInt, usrnum, itmnum, 12)
print(timeMat)
trnMat.append(subMat)
trnMat.append(timeMat)
print('Train Mat Done')
with open(prefix+'trn_mat_time_gowalla_reversed', 'wb') as fs:
	pickle.dump(trnMat, fs)

C:\Users\LIU-YUXI\AppData\Local\Temp/ipykernel_28108/1907805393.py:8: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  timeMat = sp.dok_matrix((usrnum, itmnum), dtype=np.int)

  (9, 50874)	1.0
  (9, 51528)	1.0
  (48, 50873)	1.0
  (48, 51030)	1.0
  (48, 51303)	1.0
  (48, 53520)	1.0
  (48, 54006)	1.0
  (48, 54007)	1.0
  (48, 54008)	1.0
  (48, 54009)	1.0
  (48, 54010)	1.0
  (48, 54011)	1.0
  (48, 54012)	1.0
  (48, 54013)	2.0
  (73, 50873)	1.0
  (73, 50881)	2.0
  (73, 55017)	1.0
  (78, 55162)	3.0
  (78, 55186)	1.0
  (110, 50933)	1.0
  (110, 51029)	1.0
  (110, 51030)	1.0
  (110, 51286)	1.0
  (110, 52475)	1.0
  (110, 52476)	1.0
  :	:
  (88947, 40374)	1.0
  (89107, 3156)	1.0
  (89324, 2639)	2.0
  (89342, 4886)	2.0
  (89446, 1877)	1.0
  (89560, 3378)	1.0
  (89750, 4886)	2.0
  (90073, 3321)	1.0
  (90073, 4886)	1.0
  (90105, 38240)	1.0
  (90791, 15519)	2.0
  (91224, 15908)	1.0
  (91323, 2954)	1.0
  (91404, 3156)	1.0
  (91404, 3184)	1.0
  (91693, 2954)	1.0
  (92541, 3156)	3.0
  (92541, 3195)	1.0
  (93146, 3365)	1.0
  (94518, 40374)	1.0
  (94736, 5592)	2.0
  (94806, 3422)	1.0
  (94983, 38240)	1.0
  (95806, 3422)	1.0
  (95806, 15987)	1.0
  (18, 52475)	1.0
  (18, 52476)	1.0
  (78, 50929)	1.0
  (78, 55149)	1.0
  (78, 55171)	1.0
  (78, 55185)	1.0
  (90, 54260)	1.0
  (90, 54262)	1.0
  (90, 55952)	2.0
  (110, 51028)	1.0
  (110, 51031)	1.0
  (110, 51035)	1.0
  (110, 51303)	1.0
  (110, 51312)	1.0
  (110, 52490)	1.0
  (110, 53023)	1.0
  (110, 54006)	1.0
  (110, 54011)	1.0
  (110, 54012)	1.0
  (110, 55844)	1.0
  (110, 55941)	2.0
  (110, 57052)	1.0
  (110, 57700)	1.0
  (110, 57704)	1.0
  (110, 57807)	1.0
  :	:
  (88749, 3360)	1.0
  (88749, 12984)	1.0
  (89217, 3378)	1.0
  (89654, 17810)	1.0
  (89993, 3360)	2.0
  (89994, 3360)	1.0
  (90091, 2954)	1.0
  (90252, 3214)	5.0
  (90285, 3360)	1.0
  (90542, 4560)	1.0
  (90665, 3360)	1.0
  (91037, 37874)	1.0
  (91063, 10551)	1.0
  (91171, 12984)	1.0
  (91273, 3214)	2.0
  (91273, 3557)	1.0
  (91693, 2954)	1.0
  (92541, 3156)	1.0
  (93146, 3365)	1.0
  (93967, 3565)	1.0
  (94572, 3214)	2.0
  (95239, 3319)	1.0
  (95423, 3360)	1.0
  (95434, 3360)	2.0
  (96764, 4417)	1.0
  (48, 53970)	1.0
  (73, 52464)	1.0
  (73, 52739)	1.0
  (73, 54172)	1.0
  (73, 54991)	1.0
  (73, 55015)	1.0
  (73, 55016)	1.0
  (78, 52953)	2.0
  (78, 55179)	1.0
  (78, 55180)	1.0
  (78, 55181)	1.0
  (78, 55182)	1.0
  (78, 55183)	1.0
  (78, 55184)	2.0
  (80, 53970)	1.0
  (110, 50884)	1.0
  (110, 50922)	1.0
  (110, 50926)	1.0
  (110, 51286)	3.0
  (110, 51309)	1.0
  (110, 51336)	1.0
  (110, 51342)	2.0
  (110, 52512)	1.0
  (110, 52531)	1.0
  (110, 52557)	1.0
  :	:
  (89750, 3156)	1.0
  (89794, 3405)	1.0
  (90072, 3156)	1.0
  (90206, 11105)	1.0
  (90238, 3360)	1.0
  (90252, 3214)	1.0
  (90252, 27807)	3.0
  (90892, 3156)	3.0
  (90892, 3194)	1.0
  (91323, 3116)	1.0
  (91860, 3214)	1.0
  (92161, 16053)	1.0
  (92362, 3257)	1.0
  (92541, 3156)	1.0
  (93141, 3177)	1.0
  (93231, 12888)	1.0
  (94262, 10603)	1.0
  (94730, 3257)	1.0
  (94780, 3265)	1.0
  (94781, 3265)	1.0
  (94975, 5073)	1.0
  (98270, 17119)	1.0
  (99300, 17119)	1.0
  (99918, 17119)	1.0
  (102065, 17119)	1.0
  (13, 51630)	1.0
  (13, 51634)	11.0
  (13, 51635)	1.0
  (17, 50827)	1.0
  (17, 50829)	1.0
  (17, 50838)	1.0
  (17, 50850)	1.0
  (17, 50861)	1.0
  (17, 50881)	1.0
  (17, 50882)	1.0
  (17, 50890)	1.0
  (17, 50891)	1.0
  (17, 50892)	2.0
  (17, 50912)	1.0
  (17, 51352)	1.0
  (17, 51364)	1.0
  (17, 51370)	1.0
  (17, 51377)	1.0
  (17, 51378)	1.0
  (17, 51380)	1.0
  (17, 51382)	1.0
  (17, 51388)	2.0
  (17, 51406)	1.0
  (17, 51528)	1.0
  (17, 51532)	1.0
  :	:
  (106289, 35394)	1.0
  (106409, 20735)	4.0
  (106412, 11746)	1.0
  (106412, 24512)	1.0
  (106454, 35394)	1.0
  (106461, 27940)	1.0
  (106464, 16768)	1.0
  (106464, 27940)	1.0
  (106496, 15499)	1.0
  (106564, 20546)	1.0
  (106588, 13234)	1.0
  (106588, 27940)	1.0
  (106588, 37089)	1.0
  (106595, 15464)	1.0
  (106706, 22801)	1.0
  (106735, 15945)	1.0
  (107028, 49143)	1.0
  (107293, 38185)	1.0
  (107312, 43286)	5.0
  (107408, 27940)	3.0
  (107944, 22801)	1.0
  (107944, 37087)	1.0
  (108036, 26037)	1.0
  (108057, 37087)	1.0
  (108144, 35394)	2.0
  (9, 51522)	1.0
  (9, 51523)	1.0
  (9, 51524)	1.0
  (9, 51525)	1.0
  (9, 51526)	1.0
  (9, 51527)	1.0
  (11, 51589)	1.0
  (11, 51611)	1.0
  (13, 51630)	1.0
  (13, 51634)	20.0
  (17, 50836)	1.0
  (17, 50848)	1.0
  (17, 51576)	1.0
  (17, 51578)	2.0
  (17, 51582)	1.0
  (17, 51583)	1.0
  (17, 51599)	1.0
  (17, 51602)	1.0
  (17, 51763)	2.0
  (17, 51785)	1.0
  (17, 51791)	1.0
  (17, 51793)	1.0
  (17, 51815)	2.0
  (17, 51817)	1.0
  (17, 51863)	1.0
  :	:
  (108057, 27938)	1.0
  (108057, 32159)	1.0
  (108057, 37089)	1.0
  (108063, 43321)	2.0
  (108063, 44951)	1.0
  (108091, 32390)	1.0
  (108091, 39585)	1.0
  (108094, 29342)	1.0
  (108094, 37468)	1.0
  (108144, 31099)	1.0
  (108144, 35394)	6.0
  (108162, 40930)	1.0
  (108186, 41197)	5.0
  (108187, 38647)	1.0
  (108187, 39005)	1.0
  (108190, 32390)	1.0
  (108197, 34279)	1.0
  (108197, 34283)	1.0
  (108221, 42443)	1.0
  (108223, 35395)	3.0
  (108235, 44558)	1.0
  (108238, 43321)	1.0
  (108244, 49066)	1.0
  (108244, 49930)	1.0
  (108248, 47377)	1.0
  (7, 51425)	1.0
  (7, 51441)	1.0
  (7, 51445)	1.0
  (7, 51446)	1.0
  (11, 50848)	2.0
  (11, 51284)	1.0
  (11, 51584)	1.0
  (11, 51590)	2.0
  (11, 51592)	1.0
  (11, 51595)	1.0
  (11, 51596)	1.0
  (11, 51597)	1.0
  (11, 51598)	1.0
  (11, 51599)	1.0
  (11, 51600)	1.0
  (11, 51601)	1.0
  (11, 51602)	1.0
  (11, 51603)	1.0
  (11, 51604)	1.0
  (11, 51605)	1.0
  (11, 51606)	2.0
  (11, 51607)	1.0
  (11, 51608)	1.0
  (11, 51609)	1.0
  (11, 51610)	1.0
  :	:
  (108179, 37840)	1.0
  (108186, 41197)	13.0
  (108186, 41302)	2.0
  (108186, 41894)	1.0
  (108187, 38647)	1.0
  (108189, 41264)	1.0
  (108190, 33718)	1.0
  (108191, 33609)	1.0
  (108191, 40935)	1.0
  (108198, 47121)	1.0
  (108221, 34813)	1.0
  (108223, 38011)	1.0
  (108224, 40614)	1.0
  (108224, 40615)	2.0
  (108224, 40618)	1.0
  (108231, 35771)	3.0
  (108231, 48733)	1.0
  (108233, 41208)	1.0
  (108241, 47403)	1.0
  (108244, 40983)	1.0
  (108244, 49931)	1.0
  (108247, 44106)	1.0
  (108248, 43882)	1.0
  (108254, 44792)	1.0
  (108257, 37011)	1.0
  (3, 50904)	1.0
  (3, 51347)	1.0
  (3, 51348)	11.0
  (3, 51349)	1.0
  (3, 51350)	1.0
  (3, 51351)	2.0
  (3, 51352)	1.0
  (3, 51353)	2.0
  (3, 51354)	2.0
  (3, 51355)	1.0
  (3, 51356)	1.0
  (3, 51357)	1.0
  (3, 51358)	1.0
  (3, 51359)	1.0
  (3, 51360)	2.0
  (3, 51361)	1.0
  (3, 51362)	1.0
  (3, 51363)	1.0
  (3, 51364)	1.0
  (3, 51365)	1.0
  (3, 51366)	1.0
  (7, 51414)	2.0
  (7, 51425)	1.0
  (7, 51441)	2.0
  (7, 51442)	1.0
  :	:
  (108231, 35771)	2.0
  (108231, 48699)	1.0
  (108231, 49676)	1.0
  (108233, 35646)	1.0
  (108233, 36409)	1.0
  (108234, 33718)	1.0
  (108236, 47121)	1.0
  (108236, 50031)	1.0
  (108244, 45344)	1.0
  (108247, 35632)	1.0
  (108247, 44529)	2.0
  (108248, 34900)	2.0
  (108248, 42830)	2.0
  (108248, 42832)	1.0
  (108248, 43707)	1.0
  (108248, 43882)	1.0
  (108248, 44625)	1.0
  (108248, 49516)	2.0
  (108248, 49739)	1.0
  (108254, 36036)	1.0
  (108254, 44792)	1.0
  (108255, 36179)	5.0
  (108256, 40618)	1.0
  (108256, 45360)	1.0
  (108256, 45362)	1.0
  (2, 50921)	14.0
  (2, 51035)	2.0
  (2, 51293)	4.0
  (2, 51295)	1.0
  (2, 51296)	1.0
  (2, 51306)	3.0
  (2, 51317)	4.0
  (2, 51318)	1.0
  (2, 51320)	1.0
  (2, 51322)	1.0
  (2, 51332)	2.0
  (2, 51333)	1.0
  (2, 51334)	1.0
  (2, 51335)	1.0
  (2, 51336)	1.0
  (2, 51337)	1.0
  (2, 51338)	1.0
  (2, 51339)	1.0
  (2, 51340)	1.0
  (2, 51341)	1.0
  (2, 51342)	1.0
  (7, 51420)	1.0
  (7, 51425)	1.0
  (7, 51440)	1.0
  (8, 51501)	1.0
  :	:
  (108236, 44672)	1.0
  (108236, 50031)	1.0
  (108237, 34329)	1.0
  (108237, 34901)	1.0
  (108242, 34175)	2.0
  (108243, 38955)	1.0
  (108244, 37488)	1.0
  (108245, 34632)	1.0
  (108247, 34807)	1.0
  (108247, 36527)	1.0
  (108247, 43757)	2.0
  (108247, 44529)	1.0
  (108247, 46961)	1.0
  (108250, 49633)	1.0
  (108251, 37840)	1.0
  (108253, 35960)	2.0
  (108254, 40982)	1.0
  (108254, 44792)	1.0
  (108255, 36179)	13.0
  (108255, 36180)	1.0
  (108255, 45271)	1.0
  (108256, 40614)	1.0
  (108256, 40615)	1.0
  (108256, 45360)	1.0
  (108257, 37011)	4.0
  (0, 50822)	6.0
  (0, 50827)	3.0
  (0, 50828)	1.0
  (0, 50853)	2.0
  (0, 50859)	1.0
  (0, 50872)	1.0
  (0, 50876)	3.0
  (0, 50880)	1.0
  (0, 50882)	1.0
  (0, 50883)	2.0
  (0, 50889)	2.0
  (0, 50895)	3.0
  (0, 50898)	2.0
  (0, 50902)	1.0
  (0, 50905)	1.0
  (0, 50907)	1.0
  (0, 50908)	1.0
  (0, 50909)	1.0
  (0, 50910)	1.0
  (0, 50911)	1.0
  (0, 50912)	1.0
  (0, 50913)	1.0
  (0, 50914)	1.0
  (0, 50915)	1.0
  (0, 50916)	1.0
  :	:
  (108242, 44467)	1.0
  (108242, 49412)	1.0
  (108244, 34330)	1.0
  (108246, 34667)	1.0
  (108246, 34668)	1.0
  (108246, 36250)	1.0
  (108246, 44300)	1.0
  (108247, 36527)	5.0
  (108247, 49939)	1.0
  (108249, 35063)	1.0
  (108249, 35859)	1.0
  (108249, 43015)	1.0
  (108250, 35056)	1.0
  (108250, 39861)	1.0
  (108250, 42519)	2.0
  (108250, 47896)	1.0
  (108251, 48508)	1.0
  (108253, 35960)	19.0
  (108255, 36179)	2.0
  (108255, 36180)	1.0
  (108256, 40615)	1.0
  (108256, 42474)	1.0
  (108256, 45361)	2.0
  (108257, 37011)	1.0
  (108258, 38678)	1.0
  (0, 50822)	11.0
  (0, 50823)	1.0
  (0, 50827)	5.0
  (0, 50853)	3.0
  (0, 50860)	1.0
  (0, 50861)	1.0
  (0, 50872)	2.0
  (0, 50874)	1.0
  (0, 50876)	3.0
  (0, 50877)	2.0
  (0, 50878)	1.0
  (0, 50879)	1.0
  (0, 50880)	2.0
  (0, 50881)	2.0
  (0, 50882)	3.0
  (0, 50883)	1.0
  (0, 50884)	1.0
  (0, 50885)	1.0
  (0, 50886)	1.0
  (0, 50887)	1.0
  (0, 50888)	1.0
  (0, 50889)	1.0
  (0, 50890)	1.0
  (0, 50891)	1.0
  (0, 50892)	1.0
  :	:
  (108249, 35861)	1.0
  (108249, 42444)	1.0
  (108249, 48756)	1.0
  (108249, 50000)	1.0
  (108250, 42519)	1.0
  (108250, 46982)	1.0
  (108250, 49093)	1.0
  (108251, 37513)	1.0
  (108251, 37840)	1.0
  (108251, 38247)	1.0
  (108251, 42871)	1.0
  (108251, 44060)	1.0
  (108251, 44259)	1.0
  (108253, 35960)	3.0
  (108253, 35961)	1.0
  (108254, 36036)	1.0
  (108254, 44976)	1.0
  (108256, 36324)	1.0
  (108256, 40614)	1.0
  (108256, 40615)	1.0
  (108256, 50142)	3.0
  (108257, 37011)	1.0
  (108257, 45229)	1.0
  (108258, 38678)	2.0
  (108258, 49258)	1.0

  (0, 50822)	11.0
  (0, 50823)	1.0
  (0, 50824)	1.0
  (0, 50825)	1.0
  (0, 50826)	1.0
  (0, 50827)	6.0
  (0, 50828)	1.0
  (0, 50829)	2.0
  (0, 50830)	1.0
  (0, 50831)	1.0
  (0, 50832)	1.0
  (0, 50833)	1.0
  (0, 50834)	1.0
  (0, 50835)	1.0
  (0, 50836)	1.0
  (0, 50837)	2.0
  (0, 50838)	1.0
  (0, 50839)	1.0
  (0, 50840)	1.0
  (0, 50841)	1.0
  (0, 50842)	1.0
  (0, 50843)	1.0
  (0, 50844)	1.0
  (0, 50845)	1.0
  (0, 50846)	1.0
  :	:
  (108239, 33890)	1.0
  (108240, 33892)	2.0
  (108241, 43183)	1.0
  (108241, 43185)	4.0
  (108243, 34267)	1.0
  (108243, 43301)	1.0
  (108243, 43943)	1.0
  (108245, 37587)	1.0
  (108245, 40961)	1.0
  (108245, 42130)	3.0
  (108245, 44675)	1.0
  (108246, 35566)	1.0
  (108246, 45193)	1.0
  (108247, 35762)	1.0
  (108247, 36527)	1.0
  (108249, 35859)	1.0
  (108249, 42162)	1.0
  (108250, 42519)	3.0
  (108250, 42523)	2.0
  (108251, 35063)	1.0
  (108251, 35065)	1.0
  (108251, 48570)	1.0
  (108255, 45271)	1.0
  (108256, 45364)	2.0
  (108257, 45073)	1.0
  (115, 55146)	1.0
  (55146, 115)	1.0
  (0, 1)	8
  (0, 2)	9
  (0, 3)	10
  (0, 4)	10
  (0, 5)	10
  (0, 6)	8
  (0, 7)	8
  (0, 8)	10
  (0, 9)	10
  (0, 10)	10
  (0, 11)	10
  (0, 12)	10
  (0, 13)	10
  (0, 14)	10
  (0, 15)	10
  (0, 16)	10
  (0, 17)	10
  (0, 18)	10
  (0, 19)	10
  (0, 20)	10
  (0, 21)	10
  (0, 22)	10
  (0, 23)	10
  (0, 24)	10
  (0, 25)	10
  :	:
  (50818, 55993)	10
  (50818, 35622)	10
  (50818, 23821)	10
  (50818, 23820)	10
  (50818, 46553)	10
  (50818, 43630)	10
  (50818, 43633)	10
  (50818, 54931)	10
  (50818, 46226)	10
  (50818, 50352)	10
  (50818, 46227)	10
  (50818, 46221)	10
  (50818, 46223)	10
  (50818, 46222)	10
  (50818, 46220)	10
  (50818, 46224)	10
  (50818, 46225)	10
  (50819, 54088)	10
  (50819, 52671)	10
  (50819, 22327)	10
  (50819, 29134)	10
  (50820, 21941)	10
  (50820, 21947)	10
  (50820, 21819)	10
  (50820, 30477)	10
Train Mat Done

In [40]:
trnMat

[<50821x57440 sparse matrix of type '<class 'numpy.float64'>'
 	with 1292695 stored elements in Compressed Sparse Row format>,
 [<108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 1824 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 1392 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 2244 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 23696 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 105548 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 247178 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 399096 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 433870 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 476606 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 608610 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 687074 stored elements in Compressed Sparse Row format>,
  <108261x108261 sparse matrix of type '<class 'numpy.float64'>'
  	with 2 stored elements in Compressed Sparse Row format>],
 <50821x57440 sparse matrix of type '<class 'numpy.intc'>'
 	with 1291784 stored elements in Compressed Sparse Row format>]

In [1]:
import pandas as pd
train=pd.read_csv('train_.csv',sep='\t')
train

         user_id  item_id        time
0              1        1  1287503727
1              1        2  1287411463
2              1        2  1286883880
3              1        2  1286867943
4              1        2  1286378734
...          ...      ...         ...
2021652    50821    21942  1284648014
2021653    50821    21942  1284571445
2021654    50821    21948  1286645754
2021655    50821    21820  1286048124
2021656    50821    30478  1284763478

[2021657 rows x 3 columns]

In [21]:
maxx=train.time.max()
minn=train.time.min()

In [4]:
df_clear = train.drop(train[(train['user_id']==test.user_id[0]) &(train['item_id']==test.item_id[0]) ].index)

In [17]:
df_clear[df_clear.user_id==test.user_id[0]]

         user_id  item_id        time
1612866    34960    34960  1286871673
1612867    34960    34960  1282032218
1612868    34960     9286  1286635582
1612869    34960     9286  1281805086
1612870    34960    44839  1286612235
...          ...      ...         ...
1612947    34960     9137  1272089125
1612948    34960    15587  1272011303
1612949    34960    22871  1271247631
1612950    34960    55664  1270805475
1612951    34960     9325  1270317390

[86 rows x 3 columns]

In [20]:
len(train[(train['user_id']==test.user_id[0]) &(train['item_id']==test.item_id[0]) ])

34

In [21]:
for i in range(1,10000):
    # print(test.item_id[i],test.user_id[i])
    df_clear.drop(df_clear[(df_clear['user_id']==test.user_id[i]) &(df_clear['item_id']==test.item_id[i]) ].index,inplace=True)

In [3]:
import pandas as pd
test=pd.read_csv('test_gowalla.csv',sep='\t')
test

,user_id,item_id,time,neg_items
0,34960,37407,1270511143,"[21707, 3045, 29150, 8380, 38259, 3353, 51720,..."
1,4866,36665,1279044340,"[49937, 23024, 21461, 6393, 23386, 15020, 1885..."
2,48644,30998,1287216200,"[40437, 40666, 54129, 28265, 26282, 2769, 1408..."
3,16224,30982,1262539420,"[41626, 48431, 42024, 46613, 33287, 35693, 269..."
4,27724,11359,1274630562,"[45484, 36114, 40791, 51654, 6562, 51648, 1265..."
...,...,...,...,...
9995,33538,53289,1287291041,"[34772, 47586, 27127, 23686, 46291, 19035, 186..."
9996,17416,56463,1278885182,"[30940, 42880, 31801, 38513, 7978, 21471, 1175..."
9997,22885,18838,1265304316,"[23211, 46596, 29143, 25833, 10515, 15254, 373..."
9998,8164,30821,1287169212,"[13717, 9092, 8828, 56872, 32536, 34532, 42761..."
9999,44797,15120,1281857415,"[47253, 22132, 27276, 43067, 34338, 20069, 354..."

In [26]:
df_clear[df_clear.user_id==4866]

        user_id  item_id        time
529152     4866     3933  1265998360
529153     4866    34896  1264625094
529154     4866     4987  1264423076
529155     4866     4987  1262953642
529156     4866    13282  1263838812
529157     4866    21143  1263754681
529158     4866     1711  1263578895
529159     4866     8166  1263557967
529160     4866     8123  1263318153
529161     4866    21137  1263062928
529162     4866    34899  1262593453
529163     4866    12042  1262179195
529164     4866    39049  1262004554
529165     4866     8211  1261848788
529166     4866    23934  1261821706

In [27]:
train[train.user_id==4866]

        user_id  item_id        time
529151     4866    36665  1279044340
529152     4866     3933  1265998360
529153     4866    34896  1264625094
529154     4866     4987  1264423076
529155     4866     4987  1262953642
529156     4866    13282  1263838812
529157     4866    21143  1263754681
529158     4866     1711  1263578895
529159     4866     8166  1263557967
529160     4866     8123  1263318153
529161     4866    21137  1263062928
529162     4866    34899  1262593453
529163     4866    12042  1262179195
529164     4866    39049  1262004554
529165     4866     8211  1261848788
529166     4866    23934  1261821706

In [24]:
df_clear.to_csv('train_gowalla_srgnn.csv',index=False,sep='\t')

In [2]:
import pickle
train_data = pickle.load(open('D:/experiment/SR-GNN-master/datasets/yoo/train.txt', 'rb'))

In [5]:
maxxx=0
for i in range(len(train_data[0])):
    # print(len(train_data[0][i]))
    maxxx=max(maxxx,len(train_data[0][i]))
maxxx

145

In [6]:
len(train_data[0])

369859

In [8]:
train_data2 = pickle.load(open('D:/experiment/CLSR/sample/train.txt', 'rb'))

In [10]:
maxxx=0
for i in range(len(train_data2[0])):
    # print(len(train_data[0][i]))
    maxxx=max(maxxx,len(train_data2[0][i]))
maxxx

942

In [11]:
len(train_data2[0])

37705